{{- /* Detect OS type */ -}}
{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- /* Detect WSL */ -}}
{{- $is_wsl := false -}}
{{- if eq .chezmoi.os "linux" -}}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{-     $is_wsl = true -}}
{{-   end -}}
{{- end -}}

{{- /* Detect Windows username for WSL file sync */ -}}
{{- $win_user := "" -}}
{{- if $is_wsl -}}
{{-   $win_user = (output "/mnt/c/Windows/System32/cmd.exe" "/c" "echo %USERNAME%" | trim) -}}
{{- end -}}

{{- /* Prompt for git identity */ -}}
{{- $name := promptStringOnce . "name" "Git full name" -}}
{{- $email := promptStringOnce . "email" "Git email address" -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    osid = {{ $osid | quote }}
    is_wsl = {{ $is_wsl }}
    win_user = {{ $win_user | quote }}
